
body {
  font-family: Arial, sans-serif;
    background-image: url('360_F_307352129_dvr99c36HQ8fOUDwhn4awr710K0JqBSJ.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px;
    padding: 0;
    border-radius: 20px;
}

h1 {
  /* text-align: center; */
  margin-left: 360px;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#dc8214, #f2f2f3);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.button {
  text-align: left;
  /* margin-bottom: 10px;
  background: -webkit-linear-gradient(#dc8214, #f2f2f3);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
  margin-right: 60px;
  margin-left: 400px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.button1 {
  text-align: right;
  /* margin-bottom: 10px;
  background: -webkit-linear-gradient(#dc8214, #f2f2f3);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
